@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-slate-200 font-body;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1E293B; 
}
::-webkit-scrollbar-thumb {
  background: #0D9488; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0f766e; 
}